body {
    font-family: Arial;
    text-align: center;
    margin: 30px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#caja {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: auto;
}